---
import { getCollection } from "astro:content";
import Layout from "./Layout.astro";
import { ChevronRight } from "lucide-react";
import { typeColors } from "./API";
export type Props = {};

const docs = await getCollection("docs");
const generated = await getCollection("generated");

const sections: { title: string; items: { href: string; title: string; kind?: string }[] }[] = [
  { title: "Docs", items: docs.map((x) => ({ href: x.id === "getting-started" ? "/docs" : `/docs/${x.id}`, title: x.data.title })) },
  ...generated.map((x) => ({
    title: x.data.title,
    items: [
      { href: `/docs/${x.id}`, title: x.data.title },
      ...x.data.items.map((item: any) => ({ href: `/docs/${x.id}/${item.name}`, title: item.name, kind: item.kind })),
    ],
  })),
];
---

<Layout>
  <div class="flex gap-10 px-14 w-full">
    <div class="w-72 h-screen relative shrink-0">
      <div class="fixed h-full pt-24 w-72">
        <div class="flex flex-col gap-3 h-full overflow-auto">
          {
            sections.map(({ title, items }) => (
              <details open class="flex flex-col gap-1 group">
                <summary class="flex justify-between items-center cursor-pointer">
                  <p class="text-sm font-bold">{title}</p>
                  <ChevronRight className="group-open:rotate-90 duration-200" />
                </summary>
                <div class="flex flex-col gap-1 overflow-hidden transition-all p-1">
                  {items.map((x) => (
                    <a
                      class={`p-1 rounded-md ${Astro.url.pathname.endsWith(x.href) ? "outline outline-white/10 bg-white/20 shadow shadow-white" : "hover:bg-white/10"}`}
                      href={x.href}
                    >
                      {x.kind && <span class={`${typeColors[x.kind]}`}>{x.kind.replace("typeAlias", "type")}</span>}
                      {x.title}
                    </a>
                  ))}
                </div>
              </details>
            ))
          }
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4 col-span-3 prose prose-invert mt-24 max-w-none w-full">
      <slot />
    </div>
  </div>
</Layout>
